body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #566b78;
}

h1 {
  margin-top: 1em;
  padding-top: 1em;
  color: #555;
}
.strikeOut {
	text-decoration: line-through;	
}


.dgrid {
    height: auto;
}
.dgrid .dgrid-scroller {
    position: relative;
    overflow: visible;
}